            </div>
          </article>
          <div id="comment-section">
            <form action="" method="post">
              <textarea name="comment" id="comment" style="width:100%">
                Hey... say something!
              </textarea><br />
              <div id="name-field" style="width:50%;float:left">
                Enter name: <input name="text" id="name">
              </div>
              <div id="submit-comment" style="width:50%;float:right;">
                <input type="submit" value="Submit" />
              </div>
            </form>
          </div>
        </div>  
        <div id="sidebar" style="float:right; width:25%">
          <div id="links" style="margin:0 auto">
            {{>sidebar.html}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
