            </div>
          </article>
        </div>  
        <div id="sidebar" style="float:right; width:25%">
          <div id="links" style="margin:0 auto">
            {{>sidebar}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
