<p>
  <a class="links" href="blogposts/ecs.html">Entity Component System</a><br>
  <a class="links" href="blogposts/roguelikes.html">Rougelikes</a><br>
  <a class="links" href="blogposts/dungeon-generation.html">Dungeon Generation</a><br>
</p>
<p>
  <a class="links" href="about.html">About Me</a><br>
  <a class="links" href="contact.html">Contact</a><br>
  <a class="links" href="links.html">Links</a><br>
</p>
