<p>
  <a id="ecs" href="blogposts/ecs.html">Entity Component System</a><br>
  <a id="roguelikes" href="blogposts/roguelikes.html">Rougelikes</a><br>
  <a id="dungeon-generation" href="blogposts/dungeon-generation.html">Dungeon Generation</a><br>
</p>

<p>
  <a id="about" href="about.html">About Me</a><br>
  <a id="contact" href="contact.html">Contact</a><br>
</p>
